<main>
 <center>
  <div class="row">
   <h4>Sign In</h4>
  </div>
 
  <div class="row">
   <% if @saml_idp_fail_msg %>
    <div id="saml_idp_fail_msg" class="flash error">
     <%= @saml_idp_fail_msg %>
    </div>
   <% end %>

   <div class="container">
    <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

    <%= form_tag('/saml/auth',{class: 'col s12'}) do %>
     <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>
     <%= hidden_field_tag("RelayState", params[:RelayState]) %>

  <div class="row">
   <div class="input-field col s12">
    <%= text_field_tag :email, params[:uid], type: 'email', class: "validate", id: 'user_email' %>
    <%= label_tag 'user_email', 'Email' %>
  </div>
  </div>

  <div class="row">
   <div class="input-field col s12">
    <%= password_field_tag :password, params[:password], type: 'password', name: 'password', :id => 'user_password'  %>
    <%= label_tag 'user_password','Password' %>
   </div>
  </div>

    <div class="section"></div>
    <div class="section"></div>

  <div class="row">
    <%= submit_tag "Sign in", :class => "col s12 btn btn-large waves-effect indigo" %>
  </div>
<% end %>
</div>

   </div>
  </div>
 </center>
</main>

